main {
  display: flex;
}

h1{
  margin-top: 40px;
  margin-bottom: 70px;
}
.first {
  margin-left: 60px;
}

.flex {
  display: flex;
}

.second {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-left: 20%;
  margin-top: 12px;
}

#name {
  margin-bottom: 20px;
}

.score-heading {
  margin-bottom: 25px;
}

#score {
  margin-bottom: 20px;
}

#submit {
  width: 70px;
  height: 30px;
  border: 3px solid green;
  margin-left: 130px;
}

#refresh {
  margin: 20px;
  border: 3px solid green;
}

.table {
  border: 3px  solid black;
  padding: 8px;
  background-color: darkseagreen;
}
